body {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.menu-principal {
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.container-fluid {
  width: 100%;
}
.container {
  width: 1300px;
  margin: 0 auto 0 auto;
  /*padding: 20px 50px 0 50px;*/
}

